:root {
    --ivory: #F7FAE8;
    --dark: #303030;
    --plum: #544D71;
    --teal: #8FB7AD;
    --sage: #C3DFB7;
    --cream: #F2DDA4;
}

body {
    background-color: var(--ivory);
    color: black;
    font-family: Oswald;
    font-size: 1.1rem;
}

a {
    color: var(--plum);
}

nav.top-navbar {
    position: relative;
    padding-bottom: 2ch;
    top: 2ch;
    width: 100%;
    text-align: center;
    ul {
	margin: auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	max-width: 60ch;
    }
    li {
	display: inline;
	font-family: "Courier Prime";
	font-weight: bold;
	font-size: 1.2em;
    }
}

.nav-title {
    font-family: Anton;
    font-size: 2em;
}

h1 {
    font-family: Anton;
}

.container {
    display: block;
    margin: 1ch;
    position: relative;
    top: 20vh;
    text-align: center;
    font-family: "Courier Prime";
}

.container nav ul {
    display: flex;
    width: 80vw;
    max-width: 60ch;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;

    li {
	display: inline;
    }

    .button {
	flex: 1;
	& > li {
	    filter: drop-shadow(0.1ch 0.1ch 0 var(--dark));
	    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}
    }
}

.button {
    padding: 0.75em;
    margin: 1em;
    background-color: var(--teal);
    font-family: Oswald;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    filter: drop-shadow(0.3ch 0.3ch 0 var(--dark));
    text-decoration: none;
    transition: 0.2s;

    &:hover {
	transform: scale(1.1);
    }
}

.announcement {
    font-weight: bold;
}

#Support {
    flex: 1 0 80%;
    min-width: 20ch;
    background-color: var(--plum);
}

@media only screen and (max-aspect-ratio: 4/3) {
    body {
	font-size: 2rem;
    }

    nav ul {
	flex-direction: column;
    }
}
