---
layout: layouts/base.vto
---
<div class="container">
  <h1>IF YOU CAN READ THIS, YOU'RE DEAD</h1>
  <h2>we're gonna make a moooovie</h2>
  <p class="announcement">Casting now open! <a href="/casting-call">Click here!</a></p>
  <nav>
    <ul>
      {{ for i of home.links }}
      <a href="{{i.url}}" target="_blank" class="button" id={{i.label}}><li>{{ i.label }}</li></a>
      {{ /for }}
    </ul>
  </nav>
</div>
