---
layout: layouts/base.vto
hidenav: true
---
<div class="container">
  <h1>IF YOU CAN READ THIS, YOU'RE DEAD</h1>
  <h2>im gonna make a moooovie</h2>
  <nav>
    <ul>
      {{ for i of home.links }}
      <a href="{{i.url}}" target="_blank"><li>{{ i.label }}</li></a>
      {{ /for }}
    </ul>
  </nav>
</div>