<nav class="top-navbar">
  <ul>
  {{ for link of nav.links }}
    <li class="nav-link">
      <a href="{{ link.url }}"{{ if link.newtab }} target="_blank"{{ /if }}>
        {{ link.label }}
      </a>
    </li>
  {{ /for }}
  </ul>
</nav>